body {
  background-color: #fafafa;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.sidebar a {
  transition: all 0.15s ease-in;
}

.sidebar .nav li .dropdown-menu a,
.sidebar .nav li a {
  margin: 10px 15px 0;
  border-radius: 3px;
  color: #3c4858;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
  font-size: 13px;
  padding: 10px 15px;
}

.main-content {
  position: relative;
}

.navMenu {
  background: none;
  position: absolute;
  box-shadow: none;
  top: 0;
  left: 0;
  right: 0;
}
.sidebar {
  background: #fff;
  min-height: 100vh;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.main-content {
  margin-top: 120px;
}

.active-link {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(76, 175, 80, 0.4);
  background-color: #4caf50;
  color: #fff !important;
}

/* .rounded-icon {
  border: 1px solid #13b9cd;
  border-radius: 50%;
  background: none;
  padding: 5px;
} */

.react-bootstrap-table-page-btns-ul {
  display: flex;
  justify-content: flex-end;
}

.react-bootstrap-table-pagination {
  margin-top: 5%;
}

.linkNoStyle {
  margin: 0;
  padding: 0;
  color: #000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkNoStyle:hover {
  text-decoration: none;
}

.datatable-sortable::before {
  font-family: "Material Icons";
  content: "sort";
  font-weight: bold;
  color: #777;
  padding: 3px;
  margin: 5px;
  font-feature-settings: "liga" 1;
  font-size: 0.6rem;
  /* border: 1px solid #777;
  border-radius: 50%; */
}

.datatable-actions {
  width: 120px;
  max-width: 80px;
}

.page-item.active .page-link {
  background: none;
  border: 1px solid #50aa54;
  font-weight: bold;
  color: #50aa54;
}

.img-perfil-grid {
  width: 80px !important;
  border-radius: 50%;
}

.react-bootstrap-table tr td {
  vertical-align: middle;
  font-size: 0.9rem;
}

.img-perfil-profile {
  width: 110px !important;
  border-radius: 50%;
  box-shadow: 10px 10px 41px -11px rgba(0, 0, 0, 0.75);
}

.multiselect > div:first-child {
  background: none !important;
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26) !important;
  border-radius: 0 !important;
}
